*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  max-height: 100vh;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  background: url("../images/pattern-bg.png") no-repeat;
  background-size: 100% 250px;
  background-color: #eee;
  background-position: top center;
}
@media only screen and (min-width: 768px) {
  body {
    background-size: 100% 180px;
  }
}

.mapclass {
  position: relative;
  z-index: -1;
  top: -120px;
}
@media only screen and (min-width: 768px) {
  .mapclass {
    top: -50px;
  }
}

.header {
  width: 100%;
}
.header--text {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 24px;
}

.inputs {
  width: 85%;
  height: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .inputs {
    width: 35%;
  }
}
.inputs .inputs--input {
  flex: 6;
  height: 100%;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
}
.inputs .inputs--input::placeholder {
  color: #969696;
  font-size: 14px;
}
.inputs .inputs--btn {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  background-color: black;
  cursor: pointer;
}

.infos {
  width: 85%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .infos {
    width: 90%;
    flex-direction: row;
  }
}
.infos .info {
  flex: 1;
  text-align: center;
  padding-bottom: 10px;
}
.infos .info--head {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 500;
  color: #969696;
  letter-spacing: 1px;
}
.infos .info--text {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  margin-top: 2px;
}
.infos .info:last-child {
  padding-bottom: 0;
}
