*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  background: url("../images/pattern-bg.png") no-repeat;
  background-size: 100% 250px;
  background-color: #eee;
  background-position: top center;
}
