*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	width: 100%;
	max-height: 100vh;
	font-family: $font;
	overflow: hidden;
	background: url('../images/pattern-bg.png') no-repeat;
	background-size: 100% 250px;
	background-color: #eee;
	background-position: top center;
	@media only screen and (min-width: 768px) {
		background-size: 100% 180px;
	}
}

.mapclass {
	position: relative;
	top: -120px;
	@media only screen and (min-width: 768px) {
		top: -50px;
	}
}
