.infos {
	$radius: 10px;
	width: 85%;
	// height: 200px;
	position: relative;
	margin: 0 auto;
	@include flex;
	flex-direction: column;
	background: white;
	border-radius: $radius;
	padding: 20px;

	.info {
		flex: 1;
		text-align: center;
		padding-bottom: 10px;

		&--head {
			text-transform: uppercase;
			font-size: 10px;
			font-weight: $md;
			color: $darkGray;
			letter-spacing: 1px;
		}
		&--text {
			font-size: 20px;
			font-weight: $lg;
			color: $veryDarkGray;
			margin-top: 3px;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}
