// Layout
$mobile: 376px;
$tablet: 768px;
$laptop: 1080px;
$desktop: 1440px;

// Colors
$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);

// Fonts
$font: 'Rubik', sans-serif;
$sz: 18px; // font size
$sm: 400; // small weight
$md: 500;
$lg: 700;
